<html>
    <head>
        <title>Project2</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="project.css"></link>
        <body>
            <img src="Happy.jpg" class="card-img-top" alt="logo">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                      <li class="nav-item active">
                        <a class="nav-link" href="about.html">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="map.html">Maps</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Years
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">2015</a>
                        <a class="dropdown-item" href="#">2016</a>
                        <a class="dropdown-item" href="#">2017</a>
                        <a class="dropdown-item" href="#">2018</a>
                        <a class="dropdown-item" href="#">2019</a>
                     
                      </div>
                    </li>
                   
                  </ul>
                  
                </div>
              </nav>
              <div class="about-section">
                <h1>About</h1>
                  <h2>Understanding the Happiness Criteria<h2>
                    <h5>When looking at the World Happiness Rankings for each respective year, it is important to understand how the happiness rank and happiness score is compiled. Using things like economy, freedom, trust and generosity make up the world happiness ranking. The happiness score is a metric used by interviewing people and asking them, “how would you rate your happiness on a scale of 1-10”. Economy is based on the GDP per capita of that year. Health is based on the life expectancy of the country’s population. The freedom score is based on the extent to which freedom contributed to the calculation of the score. Also, trust is based on the perception of corruption. Now, knowing these scores, they are all calculated together to determine the rank of happiness the country has for that year. <h5>
                      <div id="plot"></div>
                      <script src="static/data.js"></script>
                      <script src="static/Happinessgraph.js"></script>
                      
                      <h3></h3>
                      <div id="plot2"></div>
                      <script src="static/data.js"></script>
                      <script src="static/healthplots.js"></script>
                      
                      <h3></h3>
                      <div id="plot3"></div>
                      <script src="static/data.js"></script>
                      <script src="static/trust.js"></script>
                      
                      <h3></h3>
                      <div id="plot4"></div>
                      <script src="static/data.js"></script>
                      <script src="static/economy.js"></script>
                      
                      <h3></h3>
                      <div id="plot5"></div>
                      <script src="static/data.js"></script>
                      <script src="static/generosity.js"></script>
                  
                      <h3></h3>
                      <div id="plot6"></div>
                      <script src="static/data.js"></script>
                      <script src="static/freedom.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>                         ​
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>    
</head>
</html>